@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body,html{
  margin:0;
  padding:0;
}

body{
  background-color: black;
  color:white;
  display:flex;
  justify-content: center;
  align-items:center;
  font-family: sans-serif;
  text-align: center;
  min-width:fit-content;
}

#DrawingPanel{
  display: flex;
  flex-direction:column;
  align-items: center;
}

#pixels{
  margin-bottom: 2rem;
}

#editor{
  border:1px solid red;
  border-radius: 0.25rem;
  padding: 1rem 4rem 2rem 4rem;
  margin-top:2rem;

  display:flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin-bottom: 1.5rem;
}

h2{
  margin-bottom: 1rem;
}

#options{
  display:flex;
  margin-bottom: 3rem;
  justify-content: center;
}

.option{
  display:flex;
  flex-direction:column;
}

.panelInput{
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 0.25rem;
  margin: 0 1rem 0.5rem 1rem;
  padding-left: 1rem;
}

.panelInput :focus{
  /* outline: none !important; */
  border-color: red;
  box-shadow: 0 0 0.5rem grey;
}

.buttons-group{
  display: flex;
  gap: 20px;
}
.button{
  font-size: 1.25rem;
  background-color: red;
  color:white;
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: background-color 0.2s  ease-in-out;
  margin-bottom: 2rem;
}

.button:hover{
  cursor: pointer;
  background-color: transparent;
  border-color: red;
}

.sketch-picker{
  margin-bottom: 1.5rem;
}

.pixel{
  width: 1.5rem;
  height:1.5rem;
}

.pixel:hover{
  cursor:pointer;
}

.row{
  display: flex;
  width: fit-content;
}